node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
service_account.json
# macOS
.DS_Store
node_modules
functions/serviceAccountKey.json
functions/twilioCreds.js
